# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/gradle-wrapper.properties
android/local.properties
android/.gradle
**/android/app/release/*.keystore
**/android/app/*.jks
**/android/app/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Podfile.lock
**/ios/**/derived_data/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Web
web/build/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Firebase & Secrets (Preserved)
**/google-services.json
**/GoogleService-Info.plist
**/info.plist
lib/config/api_key.dart
